
@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: italic;
}

/* My typography choice - Cascadia Code gives the design a "soft-coded" feeling, aligning with the retro, pixelated theme inspired by Tamagotchi */
/*I like how it making text appear more technical and readable


/* Game title styling */
#game-title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 3;
}

body,
html {
  background-image: url(bg2.jpg);
  background-size: contain;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #00000000;
  font-style: italic;
}

#game-title h1 {
  font-size: 34px;
  color: #333;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* Adds a 3D effect to make it more realistic */
}

/* The title and modal elements are positioned with high z-index values to maintain visibility */
/* Bright colors and subtle effects were used to keep the experience lighthearted. */
#Canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-145deg, #aac1c0, #f0f0f0);
  /* Light 3D effect with gradient */
  border-radius: 40%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.7);
  border: 2px solid #ccc;
}

#camera {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: lightgray;
  display: none;
}

#camera-control {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#game-container {
  background-color: #34814f;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #34814f, #dcdcdc);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.15),
    inset -5px -5px 10px rgba(255, 255, 255, 0.8);
}

/* The main game container has a gradient background and soft shadows, mimicking a glassy effect inspired by Tamagotchi screens */
/* Gradients and shadows give depth to containers*/
/* shadows in the game container emulate a “glass” look, reminiscent of vintage games */

#plant-container {
  width: 400px;
  height: 420px;
  border-radius: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: transparent;
}
/* Plant container with rounded edges and transparency aligns with a nature theme, letting the plant “grow” on screen without visual distraction */

.transparent-background {
  background-color: transparent;
}

.progress-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
/* The rectagular shape of the progress bar is because of the shape of pixalated screen of the old gameplay */
/* Structuring the progress bar and info in a column within the main game container for better layout and spacing */

#progress-bar-container {
  width: 60%;
  height: 6px;
  background-color: #ddd;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: -30px;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #a65d88;
  transition: width 0.3s;
}

#growth-info {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  margin-top: -15px;
}

#plant {
  max-width: 100%;
  max-height: 100%;
}

/* The water, light, and touch interactions are consistent with a nurturing game concept improves usability by clearly connecting actions to plant growth.  */

button {
  box-shadow: rgb(255, 255, 255) 0px 0px 24px 0px inset,
    rgb(255, 255, 255) 0px 0px 14px 0px inset,
    rgb(255, 255, 255) 0px 0px 10px -24px inset;
  display: inline-block;
  padding: 12px 16px;
  cursor: pointer;
  backdrop-filter: blur(4px);
  background-blend-mode: difference;
  box-shadow: rgb(255, 255, 255) 0px 0px 24px 0px inset,
    rgb(255, 255, 255) 0px 0px 14px 0px inset,
    rgb(255, 255, 255) 0px 0px 10px -24px inset;
  border: #e8e9e9c5 1px solid;
  color: black;
}

button:hover {
  background-color: #d2d2d2;
  color: #5e8b6e;
  box-shadow: 4px 4px 4px 0px #92b6a6;
}

#resetButton,
.reset-button-overlay {
  background-color: #a65d88;
  color: white;
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

.right-controls {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}
/* Button positions are thoughtfully spaced for intuitive reach and interaction. */
/* The primary plant interaction buttons (water, light, touch) are grouped on the right, arranged vertically. */
/* This positioning allows easy, sequential access for players, minimizing hand movement across the screen and enhancing usability for repetitive actions. */

/* Bottom left controls for additional buttons */
#left-controls {
  position: absolute;
  bottom: 45%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
  gap: 50px;
}

#waterButton {
  position: absolute;
  bottom: 30px;
  right: 100px;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
}

#lightButton {
  position: absolute;
  bottom: 100px;
  right: 30px;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
}

#tactileButton {
  position: absolute;
  bottom: 170px;
  right: -50px;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
}

#captureMoment {
  color: #cdcdcd;
  box-shadow: 4px 4px 4px 0px rgb(148, 167, 237);
  background-blend-mode: difference;
  background-color: #42b54b;
  border: #e8e9e9c5 1px solid;
  border-radius: 50px;
  box-shadow: rgb(255, 255, 255) 0px 0px 24px 0px inset,
    rgb(255, 255, 255) 0px 0px 14px 0px inset,
    rgb(255, 255, 255) 0px 0px 10px -24px inset;
  display: inline-block;
  padding: 12px 16px;
  border: #e8e9e9c5 1px solid;
}

#changeEnvironment {
  color: #cdcdcd;
  box-shadow: 4px 4px 4px 0px rgb(148, 167, 237);
  background-blend-mode: difference;
  background-color: #4caf50;
  border: #e8e9e9c5 1px solid;
  border-radius: 50px;
  box-shadow: rgb(255, 255, 255) 0px 0px 24px 0px inset,
    rgb(255, 255, 255) 0px 0px 14px 0px inset,
    rgb(255, 255, 255) 0px 0px 10px -24px inset;
  display: inline-block;
  padding: 12px 16px;
  border: #e8e9e9c5 1px solid;
}

#captureMoment:hover,
#changeEnvironment:hover {
  color: #3e5d6e;
}

#resetButton:hover {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  cursor: pointer;
}

#canvas1 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  object-fit: contain;
}

/* Modals are set with a translucent background for clarity and rounded corners soften the design */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-family: "Cascadia Code", monospace;
  width: 30%;
}

#closeModalButton {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
}


.slider-content {
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.slider-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#nextButton {
  position: absolute;
  right: 0;
  transform: translateX(-310px);
}

#togglePanelButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}


@keyframes brighten {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

#plant.brighten-effect {
  animation: brighten 1s ease-in-out;
}

/* Ripple effect for watering */
@keyframes rippleEffect {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1.1);
    filter: brightness(0.9);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}

#plant.water-effect {
  animation: rippleEffect 0.7s ease;
}

/* Shake effect for touch */
@keyframes shakeEffect {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

#plant.touch-effect {
  animation: shakeEffect 0.4s ease;
}
